<div class="container reset-form" *ngIf="!isValid">
    <form #verify="ngForm" (ngSubmit)="onSubmit(verify)">
        <div class="row">
            <div class="col">
                <input type="text" 
                class="form-control" 
                placeholder="Enter UserID Or EmailID" 
                required
                name="email"
                email
                ngModel
                #email="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-select" 
                        required 
                        name="question"
                        ngModel
                        #question="ngModel"
                        >
                    <option value="" disabled> - Select Security Question - </option>
                    <option *ngFor="let option of options" [value]="option.key">{{ option.value }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Security Selected Question's Answer" 
                    required
                    name="answer"
                    ngModel
                    #answer="ngModel">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success" [disabled]="!verify.valid">Verify</button>
            </div>
        </div>
    </form>
</div>

<div class="container reset-form" *ngIf="isValid && !isPasswordResetSuccessfull">
    <div class="alert alert-success" role="alert">
        Verification Successfully Completed! Please Reset Your Password!
      </div>
    <form #resetPassword="ngForm" (ngSubmit)="onReset(resetPassword)">
        <div class="row">
            <div class="col">
                <input 
                    type="password"
                    class="form-control" 
                    placeholder="Enter New Password" 
                    required
                    name="password"
                    ngModel
                    #password="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Confirm password" 
                    required
                    name="confirmPassword"
                    ngModel
                    #confirmPassword="ngModel"
                    >
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-success" [disabled]="!resetPassword.valid">Reset Password</button>
            </div>
        </div>
    </form>
</div>
<div class="alert alert-success" role="alert" *ngIf="isPasswordResetSuccessfull">
    Password successfully changed!
</div>